
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~noty/lib/noty.css";
@import "~noty/lib/themes/bootstrap-v4.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

div.borderit {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;

  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: dashed 0 0 0 2px $blue;
  color: $dark;
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
    transition: color 1.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: $dark;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $blue; // Make borders visible
    border-right-color: $blue;
    transition:
      width 1.25s ease-out, // Width expands first
      height 1.25s ease-out 1.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: $blue; // Make borders visible
    border-left-color: $blue;
    transition:
      border-color 0s ease-out 1.5s, // Wait for ::before to finish before showing border
      width 1.25s ease-out 0.5s, // And then exanding width
      height 1.25s ease-out 0.75s; // And finally height
  }
}

// Inherits from .draw
.meet {

  &:hover {
    color: $dark;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $blue;
    border-right-color: $blue;
  }

  &:hover::after {
    border-bottom-color: $blue;
    border-left-color: $blue;
    transition: // Animate height first, then width
      height 1.25s ease-out,
      width 1.25s ease-out 1.25s;
  }

}